.image-container {
  position: relative;
}

.image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.image-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}

.image-button:hover {
  opacity: 1;
}