* {
  box-sizing: border-box;
}

html {
  font-family: Verdana;
  color: #555;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  color: white;
  text-align: center;
  background: linear-gradient(60deg, red, orange);
}

.footer {
  margin-top: auto;
  padding: 0.5em;
  background-color: #e5e5e5;
  text-align: center;
}

.main {
  display: flex;
}

.navigation, .section, .news {
  padding: 0.5em;
}

.navigation {
  width: 20%;
}

.section {
  width: 60%;
  font-size: 1.25em;
}

.news {
  width: 20%;
}

.section ul {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.navigation ul {
  padding: 0;
  list-style: none;
}

.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-list-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.nav-list-link {
  text-decoration: none;
  padding: 0 0.5em;
  color: white;
  width: 100%;
}