html {
  font-size: 24px;
}

div {
  margin: 16px;
  border: 1px solid burlywood;
}

.horizontal {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.horizontal > span {
  background-color: aqua;
}

.vertical {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.vertical > span {
  background-color: coral;
}
