.dropdown {
  margin: 16px;
  display: inline-block;
}

.menu-button {
  padding: 16px;
  background-color: darkgreen;
  opacity: 0.8;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.menu-button:hover {
  opacity: 1;
}

.menu-list {
  display: none;
  padding: 0;
  margin: 0;
  background-color: lightcyan;
  color: black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;
}

.menu-button:hover + .menu-list,
.menu-list:hover {
  display: block;
}

.menu-item {
  padding: 16px;
  list-style: none;
}

.menu-item:hover {
  background-color: ghostwhite;
}