* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  height: 3em;
  padding: 1em;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.menu-icon {
  outline: none;
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  display: none;
}

.menu-icon i {
  font-size: 2em;
}

.nav-list {
  padding: 0.5em;
  list-style: none;
  width: 20%;
}

.nav-list-item {
  background-color: #808080;
  color: white;
  height: 2em;
  margin: 0.5em 0;
  padding: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-list-link {
  width: 100%;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }

  .nav-list {
    display: none;
  }
}
