input[type="checkbox"] {
  display: none;
  visibility: none;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox {
  position: relative;
  padding-left: 30px;
  font-size: 24px;
  margin: 16px;
  display: inline-block;
}

.checkmark {
  position: absolute;
  width: 25px;
  height: 25px;
  display: inline-block;
  left: 0;
  top: 0;
  background-color: #d3d3d3;
}

.checkbox input:checked + .checkmark {
  background-color: #006400;
}

