.header {
    background-color: darkturquoise;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-list {
    height: 40px;
    display: flex;
    line-height: 40px;
    color: white;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-left: 16px;
}

.content {
    background-color: beige;
    height: 5000px;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}

.ear {
    width: 40px;
    height: 60px;
    background-color: brown;
    position: absolute;
    top: -60px;
}

.ear_right {
    left: -40px;
}

.ear_left {
    right: -40px;
}

.eye {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 80px;
}

.eye_left {
    left: 40px;
}

.eye_right {
    right: 40px;
}